body {
  background-color: #006a71;
  color: #ffffdd;
}

h1 {
  color: #cbeaed;
}

p {
  color: #ffffdd;
}

img {

  height: 300px;
  width: 300px;
}

h2 {
  color: #d3de32;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgray;
  width: 30%;
  border-width: 12px;
}