body {
  background-color: #845ec2;
  color: #ff5e78;
}

h1 {
  color: #ffc75f;
}

p {
  color: #ff5e78;
}

img {

  height: 300px;
  width: 300px;
}

h2 {
  color: #f9f871;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgray;
  width: 30%;
  border-width: 12px;
}